---
import hero_images from "./data/hero_images.json";
import { Text, Image } from "../../global";
---

<Text tag="h1" cssUtil={["neon", "heading"]}>
  Electric Lynx <Text cssUtil={["flicker", "neon"]}>LLC</Text>
</Text>
<div class="hero_container">
  <Image
    imgType={hero_images.neonReleaseLogo}
    image_sizes={hero_images.image_widths}
  />
</div>

<style>
  @media screen and (min-width: 600px) {
    .container {
      width: 75%;
    }
  }
  .hero_container {
    max-width: 600px;
    color: var(--electric_orange);
  }
  .subtitle_bold {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 900;
  }
</style>
