---
import Layout from "../layouts/Layout.astro";
import { Text, Link } from "../components/global";
import { HeroMain } from "../components/features";
import { EmailIcon } from "../components/svg";
---

<Layout title="Electric Lynx LLC">
  <main class="landing_page_layout">
    <HeroMain />

    <Text tag="h2" cssUtil={["centered"]}>Modern Web Developement Agency</Text>
    <div class="container">
      <Text tag="p">
        Welcome to Electric Lynx, your premier web development partner in the
        heart of Dayton, Ohio. We specialize in crafting cutting-edge and
        compelling websites, infusing modern web technology to redefine digital
        experiences. At Electric Lynx, we bring a fresh look to local
        businesses, combining sophistication with innovation. Our commitment to
        a premium, simple, and sexy ethos ensures that your online presence
        stands out in the dynamic digital landscape. Choose us to transform your
        digital journey, where value, clarity, and excitement converge to tell
        your business's captivating story
      </Text>
    </div>
    <Text>Drop us a line @</Text>
    <Link linkTo="mailto:hello@electriclynx.com" cssUtil={["baselink-icon"]}>
      <EmailIcon /> hello@electriclynx.com
    </Link>

    <style>
      .container {
        width: 75%;
      }
      main {
        max-width: calc(100% - 2rem);
        color: white;
        line-height: 1.6;
      }
      .landing_page_layout {
        display: grid;
        place-items: center;
      }
    </style>
  </main>
</Layout>
